{% extends 'adminpanel/base.html' %}
{% block content %}

<h2>Mark Attendance (AI)</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="faculty" placeholder="Faculty" required>
    <input type="text" name="department" placeholder="Department" required>
    <input type="text" name="program" placeholder="Program" required>
    <input type="text" name="semester" placeholder="Semester" required>
    <input type="text" name="division" placeholder="Division" required>

    <input type="file" name="image" required>

    <button type="submit">Upload & Detect</button>
</form>

{% endblock %}
